/*Redux framework styles*/

.toplevel_page_redux_options .wp-menu-image img {padding: 7px 0 0 !important;}
.toplevel_page_redux_options:hover .wp-menu-image img {opacity: 1 !important;}
#redux-header {border: 5px solid #292929 !important;border-radius: 4px 4px 0 0;position: relative;background:#fff !important;}
.redux-container #redux-header .display_header{
margin: 20px 0px;
float: left;
margin-left: 175px;
}
.redux-container #redux-header .display_header h2{font-weight:bold;color:#000;}
/*theme author logo
#redux-header:after {
position: absolute;
top: 24px;
right: -100px;
content: '';
background: url(../img/wpf-logo.png) no-repeat;
display: block;
width: 200px;
height: 60px;
}*/
/*theme logo*/
#redux-header:before {
position: absolute;
top: 18px;
left: 0px;
content: '';
background: url(../img/logo-magexpress.png) no-repeat;
display: block;
width: 200px;
height: 60px;
}


/* Wpfreeware backend styles ***********************************************/

.theme_preview_container{position:relative;width:100%;height:400px;}
.theme_preview_container img{width:100%;height:100%;}
.btn_container{position:absolute;bottom:10px;left:34%;width:300px;padding:10px;}
.btn_container a{display:inline-block;padding:10px 20px;background:#027EC6;margin-right:20px;color:#fff;border-radius:5px;text-decoration:none;box-shadow:1px 3px 0 2px #0C4C89;font-weight:bold;}
.btn_container a:hover{background:#1E8CBE}
.view_all_themes{margin:20px;text-align:center;font-size:18px;line-height:20px;padding:10px;}
.view_all_themes a{color:#FBA1A3;display:block;font-weight:bold;}


/* social like box styles *****************/

.wpf_fb_like_box,#info-fb_like_box{position:absolute;right:-72px;top:-60px;}
.wpf_fb_like_box iframe{}
.wpf_fb_like_box iframe a{color:#fff !important;}