.theme_preview_container{position:relative;width:100%;height:400px;}
.theme_preview_container img{width:100%;height:100%;}
.btn_container{position:absolute;bottom:10px;left:34%;width:300px;padding:10px;}
.btn_container a{display:inline-block;padding:10px 20px;background:#027EC6;margin-right:20px;color:#fff;border-radius:5px;text-decoration:none;box-shadow:1px 3px 0 2px #0C4C89;font-weight:bold;}
.btn_container a:hover{background:#1E8CBE}
.view_all_themes{margin:20px;text-align:center;font-size:18px;line-height:20px;padding:10px;}
.view_all_themes a{color:#FBA1A3;display:block;font-weight:bold;}