@font-face {
  font-family: 'flexslider-icon';
  src: url('../fonts/flexslider-icon.eot');
  src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'), url('../fonts/flexslider-icon.woff') format('woff'), url('../fonts/flexslider-icon.ttf') format('truetype'), url('../sfonts/flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue';
  src:url('../fonts/HelveticaNeue.eot');
  src:url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue.woff') format('woff'),
    url('../fonts/HelveticaNeue.ttf') format('truetype'),
    url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src:url('../fonts/HelveticaNeue-Bold.eot');
  src:url('../fonts/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Bold.woff') format('woff'),
    url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src:url('../fonts/HelveticaNeue-Medium.eot');
  src:url('../fonts/HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
    url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'),
    url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
ul { padding-left: 0; list-style: none;}
li { list-style: none;}
body {  font-family: 'HelveticaNeue';}
a:hover { text-decoration: none; color:#00AC77;}
/*structure*/
.header { position: relative; background:#00AC77; position: fixed; top: 0; width: 100%; z-index: 9991;}
/*nav-main*/
.main { margin-top: 42px;}
.nav-main ul { overflow: hidden; margin-bottom: 0;}
.nav-main ul li:first-child { float: left;}
.nav-main ul li:last-child { float: right;}
.nav-main ul li.logo { position: absolute; top: 4px; left: 50%; width: 32px; height: 34px; margin-left: -16px;}
.btn-action { font-size: 30px; color:#000; float: left; padding: 7px 0;}
.btn-action:hover { color:#fff;}
.btn-action i { float: left; margin-bottom: -1px;}
.search a {font-size: 26px; color:#000; float: right; padding-top: 7px;}
.search a:hover { color:#fff;}
.search a i { float: right;}
.content { background: url(../images/line-ctn.jpg) right repeat-y;}
/*art-block-1*/
.art-block-1 h4 { font-size: 17px; }
.art-block-1 h4 a{ color:#333;}
/*art-new*/
.art-new { box-shadow: 0 0 2px #ccc; padding: 5px; margin-bottom: 10px;}
.art-new .inner-art {}
.art-new .inner-art a { display: block; margin: -5px -5px 0 -5px;}
.art-new .inner-art a img { width: 100%; display: block; }
.art-new .inner-art { position: relative;}
.art-new .inner-art a:nth-child(2) { position: absolute; bottom: 10px; left: 10px; color:#00AC77; text-transform: uppercase; font-size: 14px; text-shadow: 0 2px 1px #000;}
.art-new h2 {  font-family: 'HelveticaNeue-Medium'; margin: 10px 0 5px 0; font-size: 16px; height: 34px; overflow: hidden; line-height: 1.2; display: table;}
.art-new h2 > div { display: table-cell; vertical-align: middle;}
.art-new h2 a { color:#333;}
.art-new h2 a:hover { color:#00AC77; text-decoration: none;}
.art-new.art-feature h2 { font-size: 17px; }
.art-new.art-feature h2 a { color:#333;}
.art-new.art-feature-1 { box-shadow: none; margin-bottom: 0;  border-bottom: solid 1px #ccc;}
.txt-video { font-size: 9px; text-transform: uppercase; color:#fff; padding: 4px 4px 2px 4px; background:#0066FF; }
.txt-photo { font-size: 9px; text-transform: uppercase; color:#fff; padding: 4px 4px 2px 4px; background:#D64120;}
.txt-absolute { position: absolute; top: 0 ;left: -5px; }
.txt-cm { color:#00AC77; margin-left: 5px; font-size: 11px;}
.txt-cm i {  margin-right: 1px; font-size: 13px;}
/*tbl-1*/
.tbl-1 {}
.tbl-1 tr td { vertical-align: top;  padding-left: 5px;}
.tbl-1 tr td:first-child { padding-right: 5px; padding-left: 0;}
.tbl-1 .art-new { height: 100%; }
/*highlight*/
.highlight { padding: 5px 0;}
.highlight .title { font-family: 'HelveticaNeue-Bold'; overflow: hidden; margin: 0 0 10px 0; padding-top: 2px; background: url(../images/bgd-title.png) bottom repeat-x;}
.highlight .title > a:first-child  { color:#00AC77; float: left; padding-bottom: 5px; text-transform: uppercase; text-decoration: none; border-bottom: solid 2px #00AC77; font-size: 14px; font-family: 'HelveticaNeue-Bold';}
.highlight .title > a.link-more { float: right; font-size: 9px; background:#00AC77; color:#fff; padding: 2px 2px 2px 3px;}
/*block-bar*/
.block-bar { padding:5px 0;}
.block-bar h3 { overflow: hidden;  margin: 0 0 10px 0; padding-top: 2px; background: url(../images/bgd-title.png) bottom repeat-x;}
.block-bar h3 > a:first-child  { color:#00AC77; float: left; padding-bottom: 5px; text-transform: uppercase; text-decoration: none; border-bottom: solid 2px #00AC77; font-size: 14px; font-family: 'HelveticaNeue-Bold';}
.block-bar h3 > a.link-more { float: right; font-size: 9px; background:#00AC77; color:#fff; padding: 2px 2px 2px 3px;}
/*highlight-top*/
.highlight-top .title { background: none;}
.banner-top {  margin: 10px 0 10px 0; text-align: center;}
.banner-top img { max-width: 100%;}
/*art-block*/
.art-block {overflow: hidden; padding-bottom: 10px; border-bottom: solid 1px #eee;}
.art-block > a:first-child { float: left; width: 30%; margin-right: 10px;}
.art-block > a:first-child img { width: 100%; display: block; }
.art-block h4 { font-size: 17px; color:#333; margin-top: 0;   font-family: 'HelveticaNeue-Medium';}
.art-block h4 a { color:#333; font-size: 14px;}
.art-block h4 a:hover { color:#00AC77;}
.art-block .note { font-style: italic; color:#6B6B6B;}
.art-block .note a { color:#00AC77; text-decoration: underline;}
.art-block  p { color:#999;}
/*list-new*/
.list-new > li > a { color:#333; font-size: 15px; font-family: 'HelveticaNeue-Medium';}
.list-new > li { padding: 5px 0; border-bottom: solid 1px #eee;}
.list-new > li:before  {content: "";	display: inline-block;	margin-right: 3px;	margin-left: 2px;	color: #00AC77;	font-size: 11px;	padding: 0 0;	width: 5px;	height: 5px;	background: #00AC77;	position: relative;	top: -3px;}
.list-new > li .tool-bar li a { color:#00AC77; font-size: 12px;}
.list-new > li .tool-bar li a i { font-size: 13px;}
.tool-bar li a { color:#00AC77; font-size: 12px; /* text-transform: uppercase; */}
.tool-bar .txt-cm { margin-left: 0;}
.list-new .tool-bar { padding-left: 5px;}
.tool-bar li { background: url(../images/border.jpg) left center no-repeat; padding-right: 3px; padding-left: 8px;}
.tool-bar li:first-child { background: none;}
.block-bar .list-new .tool-bar li:first-child { padding-left: 15px;}
/*list-new-1*/
.list-new-1 > li { overflow: hidden; padding: 10px 0; border-top: solid 1px #ccc;}
.list-new-1 > li:first-child { padding-top: 0; border-top: 0;}
.list-new-1 > li a.thumb { float: right; width: 30%; margin-left: 10px; position: relative;}
.list-new-1 > li h4 { font-size: 15px; margin: 0 0 5px 0; font-family: 'HelveticaNeue-Medium';}
.list-new-1 > li h4 a { color:#333;}
.list-new-1 .txt-photo , .list-new-1 .txt-video {position: absolute; top: 0; left: 0;}
.list-new-1 .tool-bar li:first-child { background: none; padding-left: 5px;}
/*footer*/
.footer { background:#00AC77; padding: 10px 0; margin-top: 20px;}
.footer ul li a { color:#fff; font-size: 11px;  text-decoration: none;}
.footer ul li a:hover { text-decoration: none;}
.footer dl { min-height: 120px;}
.footer dd { padding-left: 10px;}
.footer dt { font-weight: normal; font-family: 'HelveticaNeue-Medium';}
/*btn-top*/
.btn-top { position: fixed; bottom: 50px; right: 20px; display: none; opacity: 0.7;}
.btn-top i {  width: 35px; height: 35px; text-align: center; line-height: 32px; background:#eee ; color:#333; border-radius: 4px;
-webkit-transition: 200ms;
-moz-transition: 200ms;
-o-transition: 200ms;}
.btn-top:hover i { background:#eee; color:#333; border-radius: 50%;} 
/*art-block-1*/
.art-block-1 {}
/*style*/
.highlight-inside .list-new > li:before  { background:#D64120; color:#D64120;}
.highlight-inside .title > a:first-child { color:#D64120; border-color:#D64120;}
.highlight-inside .title > a.link-more { background:#D64120;}
.highlight-inside .art-block .note a, .highlight-inside .txt-cm  { color:#D64120;}

.highlight-outside .list-new > li:before  { background:#7E10D1; color:#7E10D1;}
.highlight-outside .title > a:first-child { color:#7E10D1; border-color:#7E10D1;}
.highlight-outside .title > a.link-more { background:#7E10D1;}
.highlight-outside .art-block .note a, .highlight-outside .txt-cm  { color:#7E10D1;}

.highlight-social .list-new > li:before  { background:#FFB606; color:#FFB606;}
.highlight-social .title > a:first-child { color:#FFB606; border-color:#FFB606;}
.highlight-social .title > a.link-more { background:#FFB606;}
.highlight-social .art-block .note a, .highlight-social .txt-cm { color:#FFB606;}

.highlight-fun .title > a:first-child { color:#1546F2; border-color:#1546F2;}
.highlight-fun .title > a.link-more { background:#1546F2;}
.highlight-fun .art-block-1 h4 {  font-family: 'HelveticaNeue-Medium'; margin-left: 10px; margin-right: 10px; margin-bottom: 0; padding-bottom: 10px;}
.highlight-fun  .art-block-1 { background:#E9EAED;}
.highlight-fun .art-block-1 h4 a { color:#1546F2;}


.highlight-hot .title > a:first-child { color:#ff4444; border-color:#ff4444;}
.highlight-hot .title > a.link-more { background:#ff4444;}
.highlight-hot .flexslider .inner-flexslider h4 a { color:#ff4444; }

/* .flexslider-1 { position: relative; padding: 0 0 20px 0; box-shadow: 0 0 2px #ccc; overflow: hidden;}
.flexslider-1 .slides li h4 { font-size: 16px; margin-left:  10px; margin-right: 10px;  font-family: 'HelveticaNeue-Medium';}
.flexslider-1 .slides li h4 a { color:#00AC77;}
.flexslider-1 .slides li h4 a:hover { color:#00AC77; text-decoration: none;}
.flexslider-1 .flex-direction-nav a:before { font-size: 24px; color:#000;}
.flexslider-1  .flex-direction-nav a { width: 30px; height: 30px;  margin-top: -30px; opacity: 1!important;}
.flexslider-1  .flex-direction-nav a:hover { color:#00AC77;}
.flexslider-1  .flex-control-nav { bottom: 0;}
.flexslider-1 .flex-control-paging li a { width: 8px; height: 8px; border-radius: 50%;  cursor: pointer;}
.flexslider-1 .flex-control-nav li { margin: 0 4px;}
.flexslider-1 .flex-control-paging li a.flex-active { color:#00AC77; background:#00AC77; width: 9px; height: 9px; border-radius: 50%; }
.flexslider-1 .flex-direction-nav .flex-prev { left: 10px; cursor: pointer;}
.flexslider-1 .flex-direction-nav .flex-next { right: 10px; cursor: pointer;}

.carousel-1 { overflow: hidden; position: relative; padding: 0 10px; background:#E9EAED;}
.carousel-1 .slides > li { margin-right: 5px;} 
.carousel-1 .slides > li h4 { font-size: 15px;  font-family: 'HelveticaNeue-Medium';}
.carousel-1 .slides > li h4 a {  color:#333;}
.carousel-1 .flex-control-paging { display: none;}
.carousel-1 .flex-direction-nav a { opacity: 1!important; margin-top: -42px;}
.carousel-1 .flex-direction-nav a:before { font-size: 25px;}
.carousel-1 .flex-direction-nav .flex-prev { left: 20px; cursor: pointer; height: 38px;}
.carousel-1 .flex-direction-nav .flex-next { right: 20px; cursor: pointer; height: 38px;} */
/*menu-main*/
.menu-main { background:#fff; width: 260px; box-shadow: 0 0 3px #ccc; z-index: 9992; position: fixed; top: 44px; left: -260px; -webkit-transition: all .2s ease-in-out; 
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;}
.menu-main.active {  -webkit-transform: translate3d(260px, 0, 0); transform: translate3d(260px, 0, 0);}
.menu-main ul { margin-bottom: 0;}
.menu-main ul:first-child li:last-child { }
.menu-main ul li { border-bottom: solid 1px #eee;}
.menu-main ul li.sec { background:#E4E4E4;  border-bottom: solid 1px #fff;}
.menu-main ul li a{ display: block; padding: 10px 10px 10px 15px; font-size: 17px; color:#333;} 
/* .menu-main ul li a:hover { color:#00AC77;} */
.menu-main ul li a i { font-size: 20px; margin-right: 15px;}
.menu-main p { padding: 10px; background:#00AC77; color:#fff; text-align: center; margin-bottom: 0;}
.menu-main ul li.social-img { text-align: center;}
/*frm-search*/
.search { position: relative; float: right;}
.header .frm-search { z-index: 2; display: block; right: 15px; top: 10px; position: absolute; top: 4px; right: 0;  width: 0; -webkit-transition: all .2s ease-in-out; 
-moz-transition: all .2s ease-in-out;
-ms-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;}
.frm-search  input { border-radius: 4px; }
.frm-search.active {  width: 250px;}
.frm-search.active  input { width: 250px; }
.title-contact { font-family: 'HelveticaNeue-Bold'; overflow: hidden; margin: 0 0 10px 0; padding-top: 2px; }
.title-contact a { font-size: 18px; text-transform: uppercase; color:#D64120;  float: left; padding-bottom: 5px; text-transform: uppercase; text-decoration: none; border-bottom: solid 2px #D64120; font-size: 14px; font-family: 'HelveticaNeue-Bold';}
.red { color:#D64120;}
.frm-contact { margin-bottom: 20px;}
/*contact-page*/
.contact-page .header { background:#DB5A3D;}
.contact-page .menu-main p { background:#DB5A3D;}
.contact-page .footer { background:#DB5A3D;}
.btn-xthem { display: block; height: 25px; line-height: 25px; background:#00AC77; text-align: center; color:#fff; text-transform: uppercase; font-size: 12px;}
.btn-xthem:hover { color:#fff!important;}
.breadcrumb > li a { color:#333; text-transform: uppercase; font-size: 12px;  font-family: 'HelveticaNeue-Medium';}
.breadcrumb > li.active { color:#00AC77; text-transform: uppercase; font-size: 14px;  font-family: 'HelveticaNeue-Bold';}
.outer-tool { overflow: hidden; margin-top: 20px; font-size: 14px;}
.outer-tool ul {  margin-bottom: 0;}
.outer-tool ul.tool-bar .txt-cm,.outer-tool ul.tool-bar .txt-cm i { font-size: 14px; color:#333;}
.outer-tool  ul.tool-bar li {background: url(../images/border-1.jpg) left 3px no-repeat;}
.outer-tool  ul.tool-bar li:first-child { vertical-align: middle; background: none;}
/*inside-page*/
.inside-page .header, .inside-page .footer, .inside-page .menu-main p, .inside-page .btn-xthem , .inside-page .block-bar h3 > a.link-more, .inside-page .list-new > li:before  { background:#D64120;}
.inside-page .breadcrumb > li.active, .inside-page .art-new .inner-art a:nth-child(2), .inside-page .txt-cm, .inside-page .tool-bar li a, .inside-page .list-new > li .tool-bar li a  { color:#D64120;}
.inside-page .block-bar h3 > a:first-child { color: #D64120;   border-bottom: solid 2px #D64120;}
/*outside-page*/
.outside-page .header, .outside-page .footer, .outside-page .menu-main p, .outside-page .btn-xthem , .outside-page .block-bar h3 > a.link-more, .outside-page .list-new > li:before  { background:#9A3DE0;}
.outside-page .breadcrumb > li.active, .outside-page .art-new .inner-art a:nth-child(2), .outside-page .txt-cm, .outside-page .tool-bar li a, .outside-page .list-new > li .tool-bar li a  { color:#9A3DE0;}
.outside-page .block-bar h3 > a:first-child { color: #9A3DE0;   border-bottom: solid 2px #9A3DE0;}
/*social-page*/
.social-page .header, .social-page .footer, .social-page .menu-main p, .social-page .btn-xthem , .social-page .block-bar h3 > a.link-more, .social-page .list-new > li:before  { background:#FFB606;}
.social-page .breadcrumb > li.active, .social-page .art-new .inner-art a:nth-child(2), .social-page .txt-cm, .social-page .tool-bar li a, .social-page .list-new > li .tool-bar li a  { color:#FFB606;}
.social-page .block-bar h3 > a:first-child { color: #FFB606;   border-bottom: solid 2px #FFB606;}
/*fun-page*/
.fun-page .header, .fun-page .footer, .fun-page .menu-main p, .fun-page .btn-xthem , .fun-page .block-bar h3 > a.link-more, .fun-page .list-new > li:before  { background:#1546F2;}
.fun-page .breadcrumb > li.active, .fun-page .art-new .inner-art a:nth-child(2), .fun-page .txt-cm, .fun-page .tool-bar li a, .fun-page .list-new > li .tool-bar li a  { color:#1546F2;}
.fun-page .block-bar h3 > a:first-child { color: #1546F2;   border-bottom: solid 2px #1546F2;}
/*hot-page*/
.hot-page .header, .hot-page .footer, .hot-page .menu-main p, .hot-page .btn-xthem , .hot-page .block-bar h3 > a.link-more, .hot-page .list-new > li:before  { background:#ff4444;}
.hot-page .breadcrumb > li.active, .hot-page .art-new .inner-art a:nth-child(2), .hot-page .txt-cm, .hot-page .tool-bar li a, .hot-page .list-new > li .tool-bar li a  { color:#ff4444;}
.hot-page .block-bar h3 > a:first-child { color: #ff4444;   border-bottom: solid 2px #ff4444;}
/*hot-page*/
.hot-page .header, .hot-page .footer, .hot-page .menu-main p, .hot-page .btn-xthem , .hot-page .block-bar h3 > a.link-more, .hot-page .list-new > li:before  { background:#ff4444;}
.hot-page .breadcrumb > li.active, .hot-page .art-new .inner-art a:nth-child(2), .hot-page .txt-cm, .hot-page .tool-bar li a, .hot-page .list-new > li .tool-bar li a  { color:#ff4444;}
.hot-page .block-bar h3 > a:first-child { color: #ff4444;   border-bottom: solid 2px #ff4444;}

/*fck*/
.fck { padding-bottom: 20px;}
.fck header h1 { font-size: 24px; font-family: 'HelveticaNeue-Medium'; margin-top: 10px;}
.fck header p { font-style: italic;  font-family: 'HelveticaNeue-Bold';}
.fck p {  font-size: 15px;}
.fck img { max-width: 100%;}
.fck .outer-img { text-align: center; position: relative; /* margin-bottom: 5px; */}
.ctn-share { position: absolute; bottom: 10px; left: 10px;}
.fck .caption { margin-bottom: 10px; display: block; text-align: center; color:#666; font-size: 13px; /* margin-top: -3px; */ background:#f2f2f2; padding: 5px 0;}
.fck footer p { text-align: right; font-family: 'HelveticaNeue-Bold';}
.btn-share-1 { overflow: hidden; height: 30px; line-height: 30px; background:#D7D7D7; display: block; display: block; padding-right: 5px; color:#333;}
.btn-share-1 span { height: 30px; line-height: 30px; padding: 0 10px; background:#00AC77; float: left; margin-right: 5px;}
.btn-share-1 span i { float: left; font-size: 20px; margin-top: 6px;}
.btn-share-1:hover span i { color:#fff;}
.list-new-2 > li:before { margin-right: 6px;}
/*slider-spec*/
.slider-spec  .inner-slider { margin: 2px; box-shadow: 0 0 2px #ccc;  }
.slider-spec  .inner-slider h4 { margin: 0; font-size: 16px; height: 54px; display: table;}
.slider-spec  .inner-slider h4 a { display: block; padding: 10px; color:#333; display: table-cell; vertical-align: middle;}
.flexslider { box-shadow: 0 0 2px #ccc;}
.flexslider .inner-flexslider h4  { padding-left: 10px; padding-right: 10px;}
.flexslider .inner-flexslider h4 a {color:#ff4444;}
.carousel-1 { background:#E9EAED;}
.carousel-1 .inner-item { margin: 2px; box-shadow: 0 0 2px #ccc; }
.carousel-1  .inner-item h4 { margin: 0; font-size: 16px;}
.carousel-1  .inner-item h4 a { display: block; padding: 10px; color: #333;}
/*outer-tag*/
.outer-tag { margin-bottom: 0;}
.outer-tag li { padding-left: 1px; padding-right: 1px; }
.outer-tag li a{ color:#333; font-size: 12px; display: block; padding: 2px 5px; background:#F1F1F1; }
.outer-tag li:first-child a { color:#999;}
/*slider*/
.slick-prev, .slick-next { display: none!important;}
.slick-dots { text-align: center;}
.slick-dots li { display: inline-block; padding: 5px 3px 0 3px;  border-top: solid 1px #FF4444; }
.slick-dots li button { width: 7px; height: 7px; border-radius: 50%; border: none; background:#333; overflow: hidden; text-indent: -999px; display:  block; padding:  0; box-shadow:  none;}
.slick-dots li.slick-active button  { background: #FF4444; }
.show-scroll, .show-scroll-1 { margin-left: 20px; float: right; display: none;}
.show-scroll a { font-size: 28px; color:#000; display: block; margin-top: 3px;}
.show-scroll-1 a  {  font-size: 28px; color:#000; display: block;}
.show-scroll-1 a span  { font-size: 18px; vertical-align: middle;}
.show-scroll.show, .show-scroll-1.show { display: block;}
/*block-mostview*/
.block-mostview ul li { overflow: hidden; padding: 10px 0; border-top: solid 1px #eee;}
.block-mostview ul li:first-child { padding-top: 0; border: none;}
.block-mostview ul li:first-child .thumb{ position: relative; display: block;}
.block-mostview ul li:first-child .number { background:#00AC77; font-family: 'HelveticaNeue-Medium'; position: absolute; bottom: 0; left: 0; width: 30px; height: 30px; font-size: 24px; text-align: center; line-height: 30px; color:#fff;}
.block-mostview ul li h4 { font-size: 15px; margin: 0;}
.block-mostview ul li:first-child h4 { margin: 10px 0 0 0;}
.block-mostview ul li h4 a { color:#333;}
.block-mostview ul li > .number { float: left; width: 30px; height: 30px; font-size: 24px; text-align: center; line-height: 30px; color:#fff; margin-right: 10px;}
.block-mostview ul li:nth-child(2) .number { background:#D64120;}
.block-mostview ul li:nth-child(3) .number { background:#7E10D1;}
.block-mostview ul li:nth-child(4) .number { background:#FFB606;}
.block-mostview ul li:nth-child(5) .number { background:#1546F2;}
.breadcrumb { background: none; padding: 0;  text-transform: uppercase; margin-top: 4px;}
.breadcrumb li { font-size: 14px; font-family: 'HelveticaNeue-Bold';}
.breadcrumb li a:first-child {  color:#777;  padding-bottom: 5px; text-transform: uppercase; text-decoration: none; border-bottom: solid 2px #777; font-size: 14px; font-family: 'HelveticaNeue-Bold';}
.breadcrumb i { vertical-align: bottom; margin: 0 5px; color:#666;}
.kq-tag { margin-top: 10px;}
.kq-tag span { color:#00AC77;}
.outer-search-1 { padding: 10px; background:#eee; margin: 15px 0 10px 0; border-radius: 3px;}
.outer-search-1 p { margin-bottom: 0;}
.outer-search-1 .btn-danger, .outer-search-1 .btn-danger:focus { background:#00AC77; border: solid 1px #00AC77;}
.btn-send-mail { float: right; margin-right: 20px;}
.btn-send-mail a {  font-size: 26px; color: #000;  float: right; margin-top: 1px;}
.select-filter { float: right; height: 22px; margin: 0; line-height: 22px; padding: 0; font-size: 12px; }
.outer-tag-1 form span  { height: 34px; line-height: 34px;}
.outer-tag-1 > h4 { font-family: 'HelveticaNeue-Medium'; }
.line-1 { text-align: center; margin-bottom: 5px; font-size: 13px; text-transform: uppercase; }
.line-1  span { padding-bottom: 4px; display: inline-block; border-bottom: solid 1px #999;}
/*list-tag*/

.list-tag li a { overflow: hidden; display: block; color:#333; padding-top: 3px; padding-bottom: 3px; border-top: solid 1px #eee;}
.list-tag li:first-child a, .list-tag li:nth-child(2) a { border: none; }
.list-tag li:first-child a { color:#00AC77;} 
@media screen and (max-width: 768px){
	.content  { background: none;}
}
@media screen and (max-width: 480px) {
	.menu-main { width: 220px; top: 40px; left: -220px;}
	.menu-main.active  {  -webkit-transform: translate3d(220px, 0, 0); transform: translate3d(220px, 0, 0);}
	.menu-main ul li a{ display: block; padding: 8px 10px 8px 10px; font-size: 14px; } 
	.menu-main ul li a i { font-size: 17px; margin-right: 10px;}
	.btn-action { font-size: 26px;}
	.search a { font-size: 25px;}
	.logo img { width: 28px;}
	.slider-spec  .inner-slider h4 { margin: 0; font-size: 14px;}
	.show-scroll a { font-size: 25px; color:#000; display: block; margin-top: 3px;}
	.show-scroll-1 a  {  font-size: 25px; color:#000; display: block;}
	.show-scroll-1 a span  { font-size: 16px; vertical-align: middle;}
	.frm-search.active, .frm-search.active input { width: 210px; height: 32px;}
	.txt-video ,.txt-photo { padding: 3px 3px 2px 3px;}
}













