@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif:400,700&subset=latin,vietnamese,cyrillic-ext,latin-ext,cyrillic,greek,greek-ext);
ul,
ul li {
    list-style: none
}
#loading { position: fixed; z-index: 99999; background: #fff; top: 0; left: 0; width: 100%; height: 100%;}
    #loading img { position: absolute; top: 50%; left: 50%; margin: -20px 0 0 -20px; width: 40px; height: 40px;}

.header,
img {
    width: 100%
}

.main-menu li a:hover,
.main-menu li.active a {
    text-shadow: 0 1px 1px #000
}

.highlight-1 .inner-btn .btn:hover,
.list-right li a.btn-round:hover {
    opacity: .8
}

.header:after,
.list-lq li a:before {
    content: ""
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 48px; background: #fff;
}
body.detail { background: #f7f7f7; }

.fck,
.highlight-event .art-1 p {
    font-family: 'Noto Serif', serif
}

ul {
    padding-left: 0;
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.3
}

a:focus,
a:hover {
    text-decoration: none
}

.note a:hover,
.noted-cm span {
    text-decoration: underline
}

button:focus,
input:focus {
    outline: 0
}

.header {
    background: #00AC77;
    position: fixed;
    top: 0;
    z-index: 1049;
    border-bottom: solid 1px #ddd
}

.header .logo,
.header:after {
    position: absolute;
    top: 0;
    height: 48px
}

.header:after {
    z-index: 1;
    width: 100%;
    right: 50%;
    margin-right: 580px;
    background: #fff
}

.header .container-fluid {
    padding-left: 0;
    padding-right: 0
}

.header .logo {
    display: block;
    left: 50%;
    z-index: 2;
    margin-left: -645px
}

.main-menu {
    float: left;
    margin-left: 60px
}

.main-menu li {
    display: inline-block
}

.main-menu li a {
    height: 48px;
    display: block;
    line-height: 48px;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff
}

.main-menu li.active a {
    color: #48E7E1
}

.header .frm-search {
    float: right;
    margin-top: 9px;
    position: relative
}

.header .frm-search .txt-search {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 250px;
    margin: 0;
    border-radius: 3px;
    border: 0
}

.header .frm-search .btn-search {
    height: 30px;
    line-height: 30px;
    background: #fff;
    padding: 0;
    margin: 0;
    border: 0;
    width: 30px;
    border-radius: 3px
}

.header .frm-search .btn-search:hover {
    color: #00AC77
}

.btn-view {
    width: 225px;
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
    background: #00AC77;
    display: block;
    color: #fff;
    clear: both;
    text-align: center
}

.btn-view:hover {
    color: #fff;
    opacity: .8
}

.highlight-1 .inner-btn {
    text-align: center;
    padding: 15px 0 0
}

.highlight-1 .inner-btn>.btn {
    margin: 0 5px
}

.enter .dropdown-menu a:hover {
    color: #fff;
    background: #7E10D1
}

.food .dropdown-menu a:hover {
    color: #fff;
    background: #00AC77
}

.spend .dropdown-menu a:hover {
    color: #fff;
    background: #1546F2
}

.travel .dropdown-menu a:hover {
    color: #fff;
    background: #f44
}

.highlight-1 h1 {
    margin: 0;
    text-align: center
}

.highlight-1,
.highlight-top {
    padding-top: 25px;
}

.block-bar h3,
.highlight-1 h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase
}

.highlight-1 .art-1 h3 {
    font-family: 'Noto Serif', serif;
    border: none;
    margin: 10px 0 20px;
    padding: 0;
    height: 54px;
}

.art-1 h3,
.highlight-1 .art-1-style h3 {
    border-bottom: solid 1px #f1f1f1;
    border-left: solid 1px #f1f1f1;
    border-right: solid 1px #f1f1f1
}

.block-bar h3 a,
.highlight-food h2 a {
    color: #00AC77
}

.highlight-1 h1 a {
    color: #00AC77;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600
}

.highlight-1 .inner-btn>.btn {
    text-align: center;
    background: #00AC77;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 5px
}

.highlight-1 .inner-btn .dropdown {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 5px
}

.highlight-travel .art-1:hover h3 a,
.highlight-travel h2 a {
    color: #f44
}

.highlight-travel .btn-view {
    background: #f44
}

.highlight-enter .art-1:hover h3 a,
.highlight-enter h2 a {
    color: #7E10D1
}

.highlight-enter .btn-view {
    background: #7E10D1
}

.highlight-spent .art-1:hover h3 a,
.highlight-spent h2 a {
    color: #1546F2
}

.highlight-event .art-1 h3 a,
.highlight-event h2 a {
    color: #FFB606
}

.highlight-spent .btn-view {
    background: #1546F2
}

.highlight-event .art-1 {
    margin-bottom: 15px
}

.highlight-event .art-1 h3 {
    padding-top: 0;
    padding-bottom: 0;
    height: 35px;
    margin-top: 0;
    margin-bottom: 0;
}

.highlight-event .art-1 .ctn {
    padding: 10px;
    background: #f1f1f1
}

.highlight-event .art-1 p {
    font-size: 11px;
    margin-bottom: 0;
    height: 45px;
    overflow: hidden
}

.highlight-event .btn-view {
    background: #FFB606
}

.highlight-main {
    padding: 10px;
    background: #f3f0f7;
    margin-top: 30px;
    overflow: hidden
}

.highlight-main .art-main {
    float: left;
    position: relative
}

.highlight-main .art-main h2 {
    text-transform: none;
    font-family: 'Noto Serif', serif;
    line-height: 1.2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.block-trich span,
.fck header h1,
.noted-cm span,
.txt-photo,
.txt-video {
    text-transform: uppercase
}

.highlight-main .art-main h2 a {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    padding: 20px 10px;
    display: block
}

.art-1 h3,
.footer .list-inline {
    padding: 10px
}

.highlight-main .art-main:hover h2 a {
    color: #00AC77
}

.highlight-main .art-main:first-child {
    width: 49.9%
}

.highlight-main .art-main:nth-child(2),
.highlight-main .art-main:nth-child(3) {
    width: 24.05%;
    margin-left: 10px;
    margin-bottom: 10px
}

.highlight-main .art-main:nth-child(4),
.highlight-main .art-main:nth-child(5) {
    width: 24.05%;
    margin-left: 10px
}

.art-1 h3 {
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}

.art-1 h3 a {
    color: #333
}

.flexslider-new .art-1:hover h3 a {
    color: #00AC77
}

.highlight-1 .art-1-style {
    margin-bottom: 15px
}

.highlight-1 .art-1-style h3 {
    padding: 10px;
    height: 54px;
    margin: 0
}

.highlight-1 .art-1-style h3>a {
    height: 35px;
    overflow: hidden;
    display: block;
}

.footer {
    background: #00AC77;
    margin-top: 40px
}

.footer>div {
    overflow: hidden
}

.footer .list-inline li a {
    display: block;
    margin: 10px;
    color: #fff
}

.logo-footer {
    float: left;
    width: 50px;
    margin-right: 15px
}

.footer .pull-right {
    width: 240px;
    padding-top: 20px
}

.footer .pull-right p a {
    color: #fff
}

.list-right {
    position: fixed;
    bottom: 50px;
    right: 20px;
    margin-top: 0;
}

.list-right li:first-child {
    padding-right: 0;
    margin-bottom: 8px
}

.list-right li a {
    color: #fff;
    height: 34px;
    line-height: 34px;
    display: block
}

.list-right li a.btn-round {
    color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    display: block;
    margin: 0;
    border-radius: 3px;
    background: #3a5795;
    text-align: center;
    font-weight: 700;
    font-size: 16px
}
.thumb { display: block; overflow: hidden;}
.list-right li:first-child a.btn-round {
    background: #EA4335
}

.list-right li:nth-child(2) a.btn-round {
    background: #3a5795;
    margin-bottom: 8px
}

.list-right li:nth-child(3) a.btn-round {
    background: #00AC77;
    margin-bottom: 0
}

.list-right li a.btn-round.btn-top {
    display: none;
    line-height: 29px
}

.food .highlight-1 .inner-btn .btn {
    background: #00AC77;
    border: 1px solid #00AC77
}

.highlight-1 .inner-btn .btn.active {
    opacity: .7!important
}

.food .highlight-event .art-1 h3 a,
.food .highlight-event h2 a {
    color: #00AC77
}

.food .highlight-event .btn-view {
    background: #00AC77
}

.travel .highlight-1 .inner-btn .btn {
    color: #fff
}

.travel .art-1:hover h3 a,
.travel .bar,
.travel .block-trich span,
.travel .highlight-1 h1 a,
.travel .highlight-event .art-1 h3 a,
.travel .highlight-event h2 a,
.travel .highlight-food .art-1:hover h3 a,
.travel .highlight-food .art-main:hover h2 a,
.travel .highlight-food>h2 a,
.travel .list-lq li a:hover , .travel .block-bar h3 a, .travel .block-mostview ul li h4 a:hover , .travel .fck footer p {
    color: #f44
}

.travel .btn-view,
.travel .footer,
.travel .header,
.travel .highlight-1 .inner-btn .btn,
.travel .highlight-event .btn-view,
.travel .list-right li:nth-child(3) a.btn-round,
.travel .outer-tag li a:hover,
.travel .outer-tag li:first-child a  , .travel .fck header p:before , .travel .list-lq li a:hover:before {
    background: #f44
}

.enter .art-1:hover h3 a,
.enter .bar,
.enter .block-trich span,
.enter .highlight-1 h1 a,
.enter .highlight-event .art-1 h3 a,
.enter .highlight-event h2 a,
.enter .highlight-food .art-1:hover h3 a,
.enter .highlight-food .art-main:hover h2 a,
.enter .highlight-food>h2 a,
.enter .list-lq li a:hover, .enter .block-bar h3 a, .enter .block-mostview ul li h4 a:hover , .enter .fck footer p{
    color: #7E10D1
}

.enter .btn-view,
.enter .footer,
.enter .header,
.enter .highlight-1 .inner-btn .btn,
.enter .highlight-event .btn-view,
.enter .list-right li:nth-child(3) a.btn-round,
.enter .outer-tag li a:hover,
.enter .outer-tag li:first-child a  , .enter .fck header p:before , .enter .list-lq li a:hover:before {
    background: #7E10D1
}

.spend .art-1:hover h3 a,
.spend .bar,
.spend .block-trich span,
.spend .highlight-1 h1 a,
.spend .highlight-event .art-1 h3 a,
.spend .highlight-event h2 a,
.spend .highlight-food .art-1:hover h3 a,
.spend .highlight-food .art-main:hover h2 a,
.spend .highlight-food>h2 a,
.spend .list-lq li a:hover , .spend .block-bar h3 a, .spend .block-mostview ul li h4 a:hover , .spend .fck footer p {
    color: #1546F2
}

.spend .btn-view,
.spend .footer,
.spend .header,
.spend .highlight-1 .inner-btn .btn,
.spend .highlight-event .btn-view,
.spend .list-right li:nth-child(3) a.btn-round,
.spend .outer-tag li a:hover,
.spend .outer-tag li:first-child a   , .spend .fck header p:before , .spend .list-lq li a:hover:before{
    background: #1546F2
}

.event .art-1:hover h3 a,
.event .bar,
.event .block-trich span,
.event .highlight-1 h1 a,
.event .highlight-event .art-1 h3 a,
.event .highlight-event h2 a,
.event .highlight-food .art-1:hover h3 a,
.event .highlight-food .art-main:hover h2 a,
.event .highlight-food>h2 a,
.event .list-lq li a:hover , .event .block-bar h3 a, .event .block-mostview ul li h4 a:hover , .event .fck footer p {
    color: #FFB606
}

.event .btn-view,
.event .footer,
.event .header,
.event .highlight-1 .inner-btn .btn,
.event .highlight-event .btn-view,
.event .list-right li:nth-child(3) a.btn-round,
.event .outer-tag li a:hover,
.event .outer-tag li:first-child a  , .event .fck header p:before  , .event .list-lq li a:hover:before{
    background: #FFB606
}

.fck {
    padding-bottom: 20px;
    color: #222;
    position:  relative;
}

.bar,
.fck header h1 {
    font-family: 'Open Sans', sans-serif
}

.fck header h1 {
    font-size: 30px;
    margin: 0 0 20px 0;
    /* text-align: center; */
    font-weight: 600;
    color: #111;
    text-transform: none;
    font-family: 'Noto Serif', serif;
}

.fck header p {
    font-weight: 700;
    color: #555;
    position: relative;
    font-size:  16px;
}
.fck header p:before{
    content: '123dzo.net';
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FFF;
    text-transform: uppercase;
    line-height: 13px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #00AC77;
    padding: 2px 5px 1px;
    position: relative;
    top: -2px;
    margin-right: 3px;
    }

.fck p {
    font-size: 15px;
    color: #000;
    line-height: 1.5
}

.fck section>a>img {
    display: block;
    margin-bottom: 10px
}

.fck .outer-img {
    text-align: center;
    position: relative
}

.fck .outer-img img:hover {
    cursor: move
}

.fck .outer-img>i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    padding: 6px;
    background: url(../images/overlay.png);
    color: #fff;
    display: none
}

.fck .outer-img:hover>i {
    display: block
}

.ctn-share {
    position: absolute;
    bottom: 46px;
    left: 10px;
    display: none
}

.fck .caption,
.fck .outer-img:hover>.ctn-share,
.fck .wp-caption a {
    display: block
}

.fck .caption {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
    font-size: 13px;
    background: #f1f1f1;
    padding: 5px 0
}

.fck .outer-img.left {
    float: left;
    margin-right: 15px
}

.fck .outer-img.right {
    float: right;
    margin-left: 15px
}

.fck .wp-caption {
    margin: 0 auto;
    max-width: 100%
}

.fck .wp-caption img {
    width: 100%!important;
    height: auto!important
}

.fck .wp-caption-text {
    margin: 0 auto 15px;
    width: 100%;
    display: block;
    text-align: center;
    color: #666;
    font-size: 13px;
    background: #eee;
    padding: 5px 10px;
    line-height: 15px
}

.fck .aligncenter {
    text-align: center
}

.fck header {
    display: block!important
}

.fck footer p {
    text-align: right;
    color: #00AC77
}

.fck img {
   /*  max-width: 100% */
}

.fck img.alignleft {
    float: left;
    margin: 0 10px 10px 0;
    height: auto!important
}

.fck img.alignright {
    float: right;
    margin: 0 0 10px 10px;
    height: auto!important
}

.fck img.aligncenter {
    display: block;
    margin: 0 auto;
    height: auto!important
}

.btn-share-1 {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    background: #D7D7D7;
    display: block;
    padding-right: 5px;
    color: #333
}

.btn-share-1 span {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background: #00AC77;
    float: left;
    margin-right: 5px
}

.btn-share-1 span i {
    float: left;
    font-size: 20px;
    margin-top: 6px
}

.btn-share-1:hover span i {
    color: #fff
}

.bar {
    /* text-align: center; */
    color: #00AC77;
    margin-bottom: 15px;
    font-weight: normal;
    /* font-family:  arial; */
    font-size:  13px;
    font-family:  Arial;
}

.bar.text-left {
    text-align: left
}

.bar .txt-cm i {
    font-size: 14px;
    margin-left: 3px;
    color: #333
}

.bar span {
    display: inline-block;
    margin-right: 6px;
}
.bar span a { color: #777; }
.bar span:last-child {
    margin-left: 4px;
    margin-right: 0;
    display:  none;
}

.block-trich {
    padding: 15px 0 5px;
    border-bottom: solid 2px #000;
    border-top: solid 2px #000;
    width: 50%;
    margin: 20px auto 10px;
    position: relative;
    font-style: italic
}

.block-trich span {
    text-align: right;
    display: block;
    font-style: normal;
    color: #00AC77
}

.block-trich span.icon {
    position: absolute;
    top: -16px;
    left: 50%;
    margin-left: -16px;
    width: 33px;
    height: 29px
}

.block-trich.left {
    float: left;
    margin: 10px 15px 5px 0
}

.block-trich.right {
    float: right;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px
}

.detail-box .modal-body {
    padding: 30px 200px
}

.outer-tag {
    margin-bottom: 0;
    margin-left: 0;
    padding: 10px 15px;
    border: 1px solid #eee
}

.outer-tag li {
    padding: 2px
}

.outer-tag li a {
    color: #333;
    font-size: 12px;
    display: block;
    padding: 2px 5px;
    background: #F1F1F1
}

.outer-tag li a:hover,
.outer-tag li:first-child a,
.outer-tag li:first-child a:hover {
    color: #fff;
    background: #00AC77
}

.list-share {
    height: 44px
}

.list-share li {
    float: left;
    padding: 10px 0;
    margin-right: 5px
}

.list-share li:first-child {
    color: #999
}

.list-share li:first-child i {
    margin-right: 3px;
    vertical-align: middle;
    margin-left: 1px;
    font-size: 16px
}

.list-share li:last-child {
    padding: 11px 0 9px
}

.block-link {
    border: 1px solid #eee;
    padding: 7px 15px
}

.block-link span {
    font-weight: 700
}

.btn-menu,
.logo-mobile,
.main-menu li a i {
    display: none
}

.detail-box button.close {
    position: fixed;
    top: 12px;
    right: 50%;
    font-size: 20px;
    margin-right: -570px
}

.modal .highlight-1 {
    padding-top: 0
}

.modal .highlight-1 h2 {
    font-size: 14px
}

.resize-4 {
    height: 85px
}

.art {
    padding: 15px 0;
    border-top: dashed 1px #ddd;
    overflow: hidden
}

.highlight-ctn .art:last-child {
    border-bottom: none;
    padding-bottom: 0
}

.art>a {
    width: 27%;
    float: left;
    margin-right: 10px;
    position: relative
}

.art h2 {
    margin: 0;
    font-size: 15px;
    font-weight: 600
}

.art h2 a {
    color: #333
}

.art h2 a:hover,
.note a {
    color: #00AC77
}

.art .tool-bar {
    margin: 5px 0;
    font-size: 12px
}

.art p {
    margin-bottom: 0;
    font-family: 'Noto Serif', serif
}

.note {
    font-style: italic;
    font-size: 12px
}

.txt-photo,
.txt-video {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 9px;
    padding: 2px 5px
}

.txt-video {
    background: #06F
}

.txt-photo {
    background: #DB5A3D
}

.highlight-ctn .art h2 a span {
    color: #00AC77
}

.i-full {
    width: 100%;
    border: none;
    padding: 0;
    margin: 0
}

.list-social-style {
    position: fixed;
    top: 200px;
    left: 2px;
    z-index: 9999;
    width: 43px
}

.list-social-style li {
    display: block;
    margin-bottom: 1px
}

.list-social-style li a {
    width: 43px;
    height: 43px;
    display: block;
    line-height: 43px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #405D9B
}

.list-social-style li.i-google a {
    background: #EE5224
}

.list-social-style li.i-mail a {
    background: #FE953B
}

.list-social-style li.i-comment a {
    background: #00AC77
}

.list-social-style li a:hover {
    opacity: .8
}

.flexslider {
    overflow: hidden;
    margin-bottom: 0
}

.flexslider-new {
    margin: 0;
    border: none
}

.flexslider-new .flex-direction-nav .flex-next,
.flexslider-new .flex-direction-nav .flex-prev {
    background: #fff;
    width: 25px;
    height: 25px;
    opacity: .7!important;
    margin-top: -21px;
    text-align: center
}

.flexslider-new .slides li {
    margin-right: 10px
}

.flexslider-new .flex-control-paging {
    display: none
}

.flexslider-new .flex-direction-nav .flex-prev {
    left: 0
}

.flexslider-new .flex-direction-nav .flex-next {
    right: 0
}

.flexslider-new .flex-direction-nav a:before {
    line-height: 29px;
    font-size: 16px
}

.flex-direction-nav a:before {
    font-size: 24px;
    line-height: 37px
}

.highlight-main-1 {
    margin-top: 0;
    margin-bottom: 15px
}

.highlight-main-1 .art-main:first-child,
.highlight-main-1 .art-main:nth-child(2),
.highlight-main-1 .art-main:nth-child(3) {
    width: 32.6%;
    margin-bottom: 0
}

.list-lq {
    margin-bottom: 10px;
    font-size:  15px;
}

.list-lq li a {
    color: #555;
    padding-left: 18px;
    position: relative
}

.list-lq li a:before {
    display: block;
    color: #333;
    font-size: 11px;
    padding: 0;
    width: 3px;
    height: 3px;
    background: #666;
    position: absolute;
    left: 5px;
    top: 8px
}

.list-lq li a:hover {
    color: #00AC77
}

.list-lq li a:hover:before {
    background: #00AC77
}

.highlight-cm {
    padding-bottom: 15px
}

.block-mostview ul {
    margin-bottom: 0
}

.block-mostview ul li {
    overflow: hidden;
    padding: 10px 0;
    border-top: dashed 1px #ddd
}
.block-mostview ul li .thumb.pull-left { width: 30%; margin-right: 10px;}
.block-mostview ul li .thumb.pull-left img, .block-mostview ul li .thumb.pull-right img {height: 55px;}
.block-mostview ul.unline li {
    overflow: hidden;
    padding: 12px 0;
    border-top: none;
}
.block-mostview ul.unline li h4 {     margin: 10px 0 0;
    font-weight: 600;
    font-size: 16px;}
.block-mostview ul li:last-child {
    padding-bottom: 0
}

.block-mostview ul li:first-child {
    padding-top: 0;
    border: none
}

.block-mostview ul li:first-child .thumb {
    position: relative;
    display: block;
    overflow: hidden
}

.block-mostview ul li .thumb img {
    float: left;
    height: 184px;
    background-size: cover!important
}

.block-mostview ul li:first-child .number {
    background: #00AC77;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: #fff
}

.block-mostview ul li h4 {
    font-size: 15px;
    margin: 0;
}

.block-mostview ul li:first-child h4 {
    margin: 10px 0 0;
    font-weight: 600;
    font-size:  16px;
}

.block-mostview ul li h4 a {
    color: #333
}

.block-mostview ul li h4 a:hover {
    color: #00AC77
}

.block-mostview ul li>.number {
    float: left;
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    margin-right: 10px
}

.block-mostview ul li:nth-child(2) .number {
    background: #D64120
}

.block-mostview ul li:nth-child(3) .number {
    background: #7E10D1
}

.block-mostview ul li:nth-child(4) .number {
    background: #FFB606
}

.block-mostview ul li:nth-child(5) .number {
    background: #1546F2
}

.outer-ctn {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 0;
}

.outer-ctn .highlight-1,
.outer-ctn .highlight-top {
    padding-top: 0
}

.outer-ctn .col-sm-4,
.outer-ctn .col-sm-8 {
    padding-left: 15px;
    padding-right: 15px
}

.txt-cm {
    font-size: 12px
}

.frm-search-1 .checkbox label:first-child {
    padding-left: 0
}

.btn-timkiem {
    background: #00AC77;
    color: #fff;
    font-weight: 600;
    width: 100%
}

.btn-timkiem:hover {
    background: #00AC77;
    color: #fff;
    opacity: .8
}

.art-1 img,
.art-main img {
    background-size: cover!important
}

.art-1 .ctn,
.art-1 h3,
.art-main h2 {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden
}

.art-1 img {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px
}

.art-main img {
    border-radius: 2px;
    display: block
}

.block-comment {
    padding: 5px;
    border: 1px solid #eee;
    margin-bottom: 10px
}

.noted-cm {
    padding: 10px;
    border: 1px solid #FC6;
    background: #FFF0B3;
    color: #333
}

.noted-cm span {
    color: red
}

.block-bar {
    margin-bottom: 25px;
}

.highlight-food .art-1:hover h3 a {
    color: #00AC77
}

.inner-btn .form-group {
    display: inline-block
}

.flexslider-new .slides .art-1 h3 {
    height: 69px;
    font-weight: 400;
    font-size: 12px
}

.inner-btn .bootstrap-select.btn-group .dropdown-toggle .caret {
    display: none
}

.inner-btn .btn-group>.btn:first-child {
    padding-right: 12px
}

.inner-btn .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: auto
}

.inner-btn .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #fff;
    text-align: center;
    display: block;
    line-height: 20px
}

.bootstrap-select.btn-group .dropdown-menu {
    width: 200px
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    height: 250px;
    width: 198px
}

.bootstrap-select .dropdown-menu>li>a {
    white-space: normal;
    border-top: solid 1px #fafafa
}

.bootstrap-select .dropdown-menu {
    left: auto;
    right: 0
}

.enter .bootstrap-select .dropdown-menu>.active>a,
.enter .bootstrap-select .dropdown-menu>.active>a:focus,
.enter .bootstrap-select .dropdown-menu>.active>a:hover {
    background: #7E10D1
}

.event .bootstrap-select .dropdown-menu>.active>a,
.event .bootstrap-select .dropdown-menu>.active>a:focus,
.event .bootstrap-select .dropdown-menu>.active>a:hover {
    background: #FFB606
}

.food .bootstrap-select .dropdown-menu>.active>a,
.food .bootstrap-select .dropdown-menu>.active>a:focus,
.food .bootstrap-select .dropdown-menu>.active>a:hover {
    background: #00AC77
}

.spend .bootstrap-select .dropdown-menu>.active>a,
.spend .bootstrap-select .dropdown-menu>.active>a:focus,
.spend .bootstrap-select .dropdown-menu>.active>a:hover {
    background: #1546F2
}

.travel .bootstrap-select .dropdown-menu>.active>a,
.travel .bootstrap-select .dropdown-menu>.active>a:focus,
.travel .bootstrap-select .dropdown-menu>.active>a:hover {
    background: #f44
}

.bootstrap-select::-webkit-scrollbar {
    width: 5px
}

.bootstrap-select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.art a img {
    background-size: cover!important
}

.bootstrap-select::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #aaa;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

.bootstrap-select::-webkit-scrollbar-thumb:window-inactive {
    background: #ccc
}

.highlight-top>.flexslider-new {
    height: 161px
}
.bar .span:nth-child(2){}


/*list-article-tool*/
.list-article-tool {z-index: 999;font-family: Arial;color: #fff;text-align: center;background: #5577F1;position: fixed;top: 270px;left: 50%;width: 44px;margin-left: -522px;}
.list-article-tool li a { display: block; height: 44px; line-height: 44px; color: #fff;}
.list-article-tool li:first-child span { padding: 5px 0; display: block; border-bottom: 1px solid #eee; font-size: 12px; }
.list-article-tool li:nth-child(3) span { background: #EA4335; padding: 5px 0; display: block; border-bottom: 1px solid #eee; border-top: 1px solid #eee;  font-size: 12px; }
.list-article-tool li:last-child span { padding: 5px 0; display: block; border-top: 1px solid #eee; font-size: 12px;}
.list-article-tool li:nth-child(2) a { background: #5577F1; }
.list-article-tool li:nth-child(3) a { background: #f44; }
.list-article-tool li:nth-child(4) a { background: #EA4335; }
.list-article-tool li:nth-child(5) a {background: #00AC77;}
.list-article-tool li:nth-child(6)  {background: #00AC77;}

.list-article-tool li:nth-child(2) .tooltip .tooltip-inner  { background: #5577F1; }
.list-article-tool li:nth-child(2) .tooltip .tooltip-arrow { display: none; }

.list-article-tool li:nth-child(3) .tooltip .tooltip-inner  { background: #f44; }
.list-article-tool li:nth-child(3) .tooltip .tooltip-arrow { display: none; }

.list-article-tool li:nth-child(4) .tooltip .tooltip-inner  { background: #EA4335; }
.list-article-tool li:nth-child(4) .tooltip .tooltip-arrow { display: none; }

.list-article-tool li:nth-child(5) .tooltip .tooltip-inner  { background: #00AC77; }
.list-article-tool li:nth-child(5) .tooltip .tooltip-arrow { display: none; }

.list-article-tool .tooltip { width: auto; white-space: nowrap; }




.au-tg { text-transform: uppercase;}
.main-1:after { padding: 20px;}


.footer .btn-round { float: right; margin-top: 20px;  color: #fff; margin-right: 10px;
    height: 32px;
    width: 32px;
    line-height: 32px;
    display: block;
    border-radius: 3px;
    background: #3a5795;
    text-align: center;
    font-weight: 700;
    font-size: 16px }
.footer .btn-round-g { background: #EA4335; margin-right: 20px;}

/*style*/
.havePad {padding: 30px 30px 30px 75px;background: #fff;margin-top:  30px;}




.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}

.clearfix {
    display: inline-block
}

html[xmlns] .clearfix {
    display: block
}

* html .clearfix {
    height: 1%
}

@media screen and (min-width:1200px) and (max-width:1365px) {
    .header .logo {
        margin-left: -592px
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .header .logo {
        margin-left: -500px
    }
    .header:after {
        margin-right: 480px
    }
    .main-menu li a {
        padding-left: 10px;
        padding-right: 10px
    }
    .main-menu {
        margin-left: 135px
    }
    .highlight-main .art-main:nth-child(4),
    .highlight-main .art-main:nth-child(5) {
        width: 23.9%
    }
    .highlight-main .art-main:nth-child(2),
    .highlight-main .art-main:nth-child(3) {
        width: 23.9%;
        margin-bottom: 11px
    }
    .detail-box .modal-body {
        padding: 30px 100px
    }
    .ctn-share {
        display: block
    }
    .highlight-main .art-main h2 a {
        font-size: 14px;
        padding: 10px
    }
    .highlight-main .art-main h2 {
        font-weight: 600
    }
    .detail-box button.close {
        margin-right: -545px
    }
    .outer-ctn .content.col-md-8 .highlight-qt .col-sm-4 { padding-left:  5px; padding-right:  5px; }
    
    
    .list-article-tool {/* display: none; */margin-left:  -480px;}
    .content.col-md-8 {width: 555px;}
    .main > div > .row > .content.col-md-8 {padding-left:  15px;padding-right:  15px;}
    .main > div > .row > .sidebar.col-md-4 {padding-left:  15px;padding-right:  15px;}
}

@media screen and (min-width:768px) and (max-width:991px) {
    .list-article-tool {/* display: none; */margin-left:  -369px;}
    .main-menu li a {
    
        padding-left: 7px;
        padding-right: 7px;
        font-size: 12px
    }
    .header .frm-search .txt-search {
        width: 190px
    }
    .header .logo {
        margin-left: -395px
    }
    .header:after {
        margin-right: 380px
    }
    .highlight-main .art-main:nth-child(2),
    .highlight-main .art-main:nth-child(3),
    .highlight-main .art-main:nth-child(4),
    .highlight-main .art-main:nth-child(5) {
        width: 23.6%
    }
    .detail-box .modal-body {
        padding: 30px 50px
    }
    .ctn-share {
        display: block
    }
    .highlight-main .art-main h2 a {
        font-size: 13px;
        padding: 10px
    }
    .highlight-main .art-main h2 {
        font-weight: 600
    }
    .outer-search-1 .col-md-9 {
        margin-bottom: 15px
    }
    .outer-ctn .content.col-md-8 {
        /* width: 335px; */
    }
    .outer-ctn .sidebar.col-sm-4 {
        width: 330px
    }
    .detail-box button.close {
        z-index: 9999;
        top: 60px;
        margin-right: -365px
    }
     .outer-ctn .highlight-qt .row .col-sm-4{ padding-right: 5px; padding-left: 5px; }
      .outer-ctn .content.col-md-8 .highlight-qt .col-sm-4 { padding-left:  5px; padding-right:  5px; }
      .content.col-md-8 .highlight-1 .art-1.col-sm-4 img {height: 120px;}

    .block-mostview ul li .thumb img { height: 368px; }  
    .block-mostview ul li .thumb.pull-left img, .block-mostview ul li .thumb.pull-right img { height: 111px; }
}

@media screen and (min-width:768px) {
    .highlight-2 .col-sm-2,
    .highlight-enter .col-sm-2,
    .highlight-event .col-sm-2,
    .highlight-travel .col-sm-2 {
        width: 20%
    }
    .highlight-main .art-main>a:first-child {
        display: block;
        width: 100%;
        overflow: hidden
    }
    .highlight-main .art-main:first-child>a:first-child {
        height: 202px
    }
    .highlight-main .art-main:nth-child(2)>a:first-child,
    .highlight-main .art-main:nth-child(3)>a:first-child,
    .highlight-main .art-main:nth-child(4)>a:first-child,
    .highlight-main .art-main:nth-child(5)>a:first-child {
        height: 96px
    }
    .highlight-event .art-1 p {
        height: 45px;
        overflow: hidden
    }
    .highlight-event .art-1 h3 {
        /* height: 49px; */
        overflow: hidden;
    }
    .highlight-main-1 .art-main:first-child>a:first-child,
    .highlight-main-1 .art-main:first-child>a:first-child img,
    .highlight-main-1 .art-main:nth-child(2)>a:first-child,
    .highlight-main-1 .art-main:nth-child(2)>a:first-child img,
    .highlight-main-1 .art-main:nth-child(3)>a:first-child,
    .highlight-main-1 .art-main:nth-child(3)>a:first-child img {
        height: 132px
    }
    .highlight-main-1 .art-main:nth-child(2),
    .highlight-main-1 .art-main:nth-child(3) {
        width: 32.2%
    }
    .header .frm-search .btn-search {
        top: 0;
        right: 0;
        position: absolute
    }
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 96px
    }
    .highlight-main .art-main:first-child img {
        height: 202px
    }
    .highlight-1 .art-1.col-sm-3 img {
        height: 100px
    }
    .flexslider-new .slides img,
    .highlight-1 .art-1.col-sm-2 img {
        height: 79px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 115px
    }
   
}

@media screen and (min-width:992px) {
    .modal-lg {
        width: 980px
    }
    .highlight-main .art-main:first-child>a:first-child {
        height: 264px
    }
    .highlight-main .art-main:nth-child(2)>a:first-child,
    .highlight-main .art-main:nth-child(3)>a:first-child,
    .highlight-main .art-main:nth-child(4)>a:first-child,
    .highlight-main .art-main:nth-child(5)>a:first-child {
        height: 126px
    }
    .highlight-event .art-1 p {
        height: 45px;
        overflow: hidden
    }
    .highlight-event .art-1 h3 {
        /* height: 49px; */
        overflow: hidden;
    }
    .highlight-main-1 .art-main:first-child>a:first-child,
    .highlight-main-1 .art-main:first-child>a:first-child img,
    .highlight-main-1 .art-main:nth-child(2)>a:first-child,
    .highlight-main-1 .art-main:nth-child(2)>a:first-child img,
    .highlight-main-1 .art-main:nth-child(3)>a:first-child,
    .highlight-main-1 .art-main:nth-child(3)>a:first-child img {
        height: 172px
    }
    .highlight-main-1 .art-main:nth-child(2),
    .highlight-main-1 .art-main:nth-child(3) {
        width: 32.6%
    }
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 126px
    }
    .highlight-main .art-main:first-child img {
        height: 264px
    }
    .highlight-1 .art-1.col-sm-3 img {
        height: 85px
    }
    .highlight-1 .art-1.col-sm-2 img {
        height: 103px
    }
    .flexslider-new .slides img {
        height: 85px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 120px;
    }
     .block-bar {
        width: 300px!important
    }
    .main > div > .row > aside {
        width: 330px!important
    }
}

@media screen and (min-width:1280px) {
    .highlight-qt .row { margin-right: -15px; margin-left: -15px; }
    .modal-lg {
        width: 1060px
    }
    .highlight-main .art-main:first-child>a:first-child {
        height: 288px
    }
    .highlight-main .art-main:nth-child(2)>a:first-child,
    .highlight-main .art-main:nth-child(3)>a:first-child,
    .highlight-main .art-main:nth-child(4)>a:first-child,
    .highlight-main .art-main:nth-child(5)>a:first-child {
        height: 139px
    }
    .highlight-main-1 .art-main:first-child>a:first-child,
    .highlight-main-1 .art-main:first-child>a:first-child img,
    .highlight-main-1 .art-main:nth-child(2)>a:first-child,
    .highlight-main-1 .art-main:nth-child(2)>a:first-child img,
    .highlight-main-1 .art-main:nth-child(3)>a:first-child,
    .highlight-main-1 .art-main:nth-child(3)>a:first-child img {
        height: 188px
    }
    .highlight-event .art-1 p {
        height: 45px;
        overflow: hidden
    }
    .highlight-event .art-1 h3 {
        /* height: 54px; */
        overflow: hidden;
    }
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 139px
    }
    .highlight-main .art-main:first-child img {
        height: 288px
    }
    .highlight-1 .art-1.col-sm-3 img {
        height: 93px
    }
    .highlight-1 .art-1.col-sm-2 img {
        height: 113px
    }
    .flexslider-new .slides .art-1 img {
        height: 92px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 200px;
    }
    .content.col-md-8 .highlight-1 .art-1.col-sm-4 img {height: 120px;}
    .main > div > .row > .content.col-md-8 {width: 639px;padding-left:  15px;padding-right:  15px;}
    .main > div > .row > .sidebar.col-md-4 {padding-left:  15px;padding-right:  15px;}
}

@media screen and (max-width:767px) {
    .bar span:last-child { display: inline-block; }
    .list-article-tool { display: none;}
    .outer-ctn {
        margin-left: -5px;
        margin-right: -5px;
        padding-top: 0;
    }
    .outer-ctn .col-sm-4,
    .outer-ctn .col-sm-8 {
        padding-left: 5px;
        padding-right: 5px
    }
    .footer .pull-right,
    .highlight-top {
        padding-top: 0
    }
    .header .logo {
        display: inline-block;
        position: static;
        height: auto;
        margin-top: 5px;
        margin-left: 2px
    }
    .logo-mobile {
        display: block;
        width: 27px
    }
    .header .frm-search .txt-search,
    .logo-pc {
        display: none
    }
    .frm-search.active {
        width: 250px;
        position: relative;
        overflow: hidden;
        z-index: 3
    }
    .header .frm-search.active input {
        width: 250px;
        display: block;
        position: absolute;
        top: 1px;
        right: 0;
        z-index: 1;
        border-radius: 2px
    }
    .frm-search.active .btn-search {
        float: right
    }
    .main-nav {
        position: relative
    }
    .main-menu li a {
        height: 38px;
        line-height: 38px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px
    }
    .main-menu {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -256px
    }
    .header .frm-search .btn-search {
        border-radius: 2px;
        height: 34px;
        width: 34px;
        line-height: 34px;
        background: 0 0;
        color: #fff
    }
    .header .frm-search {
        margin-top: 3px
    }
    .header .frm-search .btn-search i {
        font-size: 18px
    }
    .highlight-top .art-1.col-sm-2 {
        width: 50%;
        float: left;
        margin-bottom: 10px
    }
    .highlight-main .art-main:first-child {
        width: 100%;
        float: none;
        margin-bottom: 5px
    }
    .highlight-main .art-main:nth-child(2) {
        width: 49.5%;
        margin-left: 0;
        margin-bottom: 5px
    }
    .highlight-main .art-main:nth-child(3) {
        width: 49.5%;
        margin-left: 1%;
        margin-bottom: 5px
    }
    .highlight-main .art-main:nth-child(4) {
        width: 49.5%;
        margin-left: 0;
        margin-bottom: 5px
    }
    .highlight-main .art-main:nth-child(5) {
        width: 49.5%;
        margin-left: 1%;
        margin-bottom: 5px
    }
    .highlight-1 .art-1.col-sm-2,
    .highlight-1 .art-1.col-sm-3 {
        width: 50%;
        float: left
    }
    body {
        margin-top: 44px; overflow-x: hidden;
    }
    .footer .pull-left,
    .footer .pull-right {
        float: none!important;
        width: 100%;
        text-align: center
    }
    .logo-footer {
        display: inline-block;
        float: none;
        margin: 0;
        padding-bottom: 10px
    }
    .detail-box .modal-body {
        padding: 30px 50px
    }
    .ctn-share {
        display: block
    }
    .highlight-main {
        margin-top: 10px
    }
    .header .frm-search .btn-search:hover {
        color: #fff
    }
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 190px
    }
    .highlight-main .art-main:first-child img {
        height: 404px
    }
    .highlight-1 .art-1.col-sm-2 img,
    .highlight-1 .art-1.col-sm-3 img {
        height: 205px
    }
    .flexslider-new .slides img {
        height: 90px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 178px
    }
    .outer-search-1 .col-md-9 {
        margin-bottom: 15px
    }
    .block-mostview ul li:first-child .thumb img , .block-mostview ul li .thumb img{
        height: 354px
    }
    .modal-dialog {
        margin: 38px 0
    }
    .detail-box button.close {
        z-index: 9999;
        top: 55px;
        margin-right: 0;
        right: 15px
    }
    .sidebar {
        padding-top: 20px
    }
    .outer-ctn .highlight-qt .row .col-sm-4{ padding-right: 5px; padding-left: 5px; }
    .block-mostview ul li .thumb.pull-left img, .block-mostview ul li .thumb.pull-right img { height: 130px;}
    .fck header h1 { margin-top: 10px;}
    .thumb { display: block; overflow: hidden;}
    .havePad { padding: 0 10px; background: none; margin-top: 0;}
    body, body.detail { background: #fff; }
    .footer .btn-round { float: none; display: inline-block; margin: 10px 2px 30px 2px;}
    .footer { text-align: center; }
    .list-right { bottom: 20px; }
}

@media screen and (max-width:640px) {
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 170px
    }
    .highlight-main .art-main:first-child img {
        height: 340px
    }
    .highlight-1 .art-1.col-sm-2 img,
    .highlight-1 .art-1.col-sm-3 img {
        height: 170px
    }
    .flexslider-new .slides img {
        height: 82px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 142px
    }
    .block-mostview ul li:first-child .thumb img, .block-mostview ul li .thumb img {
        height: 310px;
    }
    .block-mostview ul li .thumb.pull-left img, .block-mostview ul li .thumb.pull-right img { height: 120px;}
}

@media screen and (max-width:480px) {
    .detail-box .modal-content { border-radius: 0;}
    .main-menu li a:hover,
    .main-menu li.active a {
        color: #FE953B
    }
    .main-nav {
        position: static
    }
    .main-menu {
        margin-left: 0;
        left: 100%;
        width: 100%;
        text-align: center;
        top: 100%;
        background: url(../images/overlay-1.png);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out
    }
    .main-menu.active {
        left: 0
    }
    .main-menu li a {
        padding-left: 7px;
        padding-right: 7px
    }
    .main-menu li {
        float: none;
        display: block;
        width: 100%
    }
    .btn-menu,
    .btn-menu:focus {
        color: #fff
    }
    .btn-menu {
        display: inline-block;
        vertical-align: top;
        font-size: 24px;
        margin: 2px 5px 0 4px
    }
    .header .logo {
        position: absolute;
        margin-left: -14px
    }
    .detail-box .modal-body {
        padding: 10px
    }
    .highlight-main .art-main h2 {
        font-weight: 500;
        font-size: 13px
    }
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 120px
    }
    .highlight-main .art-main:first-child img {
        height: 250px
    }
    .highlight-1 .art-1.col-sm-2 img,
    .highlight-1 .art-1.col-sm-3 img {
        height: 120px
    }
    .flexslider-new .slides img {
        height: 128px
    }
    .highlight-main .art-main h2 a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 109px
    }
    .block-mostview ul li:first-child .thumb img, .block-mostview ul li .thumb img {
        height: 226px
    }
    .detail-box button.close {
        z-index: 9999;
        top: 41px;
        margin-right: 0;
        right: 4px
    }
    .highlight-top>.flexslider-new {
        height: 200px
    }
    .highlight-ctn .art>a {
        width: 35%
    }
    .fck .outer-img,
    .fck .outer-video, .fck .wp-caption.aligncenter, .fck .embed-responsive.embed-responsive-16by9,
    .fck img.aligncenter{ }
    .block-mostview ul li .thumb.pull-left img, .block-mostview ul li .thumb.pull-right img { height: 90px;}

}

@media screen and (max-width:415px) {
    .fck .aligncenter,
    .fck .caption,
    .fck .outer-img,
    .fck header h1 {
        text-align: center
    }
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 105px
    }
    .highlight-main .art-main:first-child img {
        height: 215px
    }
    .highlight-1 .art-1.col-sm-2 img,
    .highlight-1 .art-1.col-sm-3 img {
        height: 105px
    }
    .flexslider-new .slides img {
        height: 111px
    }
    .fck {
        padding-bottom: 20px;
        font-family: 'Noto Serif', serif;
        color: #222
    }
    .fck header h1 {
        font-size: 28px;
        font-family: 'Open Sans', sans-serif;
        margin: 20px 0;
        font-weight: 600;
        /* text-transform: uppercase; */
        color: #222
    }
    .fck header p {
        font-weight: 700;
        color: #888
    }
    .fck p {
        font-size: 15px;
        color: #000;
        line-height: 1.5
    }
    .fck section>a>img {
        display: block;
        margin-bottom: 10px
    }
    .fck .outer-img {
        position: relative
    }
    .fck .outer-img img:hover {
        cursor: move
    }
    .fck .outer-img>i {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 18px;
        padding: 6px;
        background: url(../images/overlay.png);
        color: #fff;
        display: none
    }
    .fck .outer-img:hover>i {
        display: block
    }
    .ctn-share {
        position: absolute;
        bottom: 46px;
        left: 10px;
        display: none
    }
    .fck .caption,
    .fck .outer-img:hover>.ctn-share,
    .fck .wp-caption a {
        display: block
    }
    .fck .caption {
        margin-bottom: 10px;
        color: #333;
        font-size: 13px;
        background: #f1f1f1;
        padding: 5px 0
    }
    .fck .outer-img.left {
        float: none;
        margin-right: 0
    }
    .fck .outer-img.right {
        float: none;
        margin-left: 0
    }
    .fck .wp-caption {
        margin: 0 auto;
        max-width: 100%
    }
    .fck .wp-caption img {
        /* width: auto!important; */
        height: auto!important;
    }
    .fck .wp-caption-text {
        margin: 0 auto 15px;
        width: 100%;
        display: block;
        text-align: center;
        color: #666;
        font-size: 13px;
        background: #eee;
        padding: 5px 10px;
        line-height: 15px
    }
    .block-trich span,
    .fck footer p {
        text-align: right;
        color: #00AC77
    }
    .fck header {
        display: block!important
    }
    .fck img.aligncenter,
    .fck img.alignleft,
    .fck img.alignright {
        float: none;
        display: block;
       
        height: auto!important
    }
    .block-trich {
        padding: 15px 0 5px;
        border-bottom: solid 2px #000;
        border-top: solid 2px #000;
        width: 100%;
        margin: 20px auto 10px;
        position: relative;
        font-style: italic
    }
    .block-trich span {
        display: block;
        text-transform: uppercase;
        font-style: normal
    }
    .block-trich span.icon {
        position: absolute;
        top: -16px;
        left: 50%;
        margin-left: -16px;
        width: 33px;
        height: 29px
    }
    .block-trich.left {
        float: none;
        margin: 10px 0 5px
    }
    .block-trich.right {
        float: none;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 5px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 90px
    }
    .highlight-top>.flexslider-new {
        height: 185px
    }
    .highlight-ctn .art>a {
        width: 40%
    }
    .highlight-ctn .art>a img {
        height: 94px
    }
}

@media screen and (max-width:376px) {
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 95px
    }
    .highlight-main .art-main:first-child img {
        height: 190px
    }
    .highlight-1 .art-1.col-sm-2 img,
    .highlight-1 .art-1.col-sm-3 img {
        height: 95px
    }
    .flexslider-new .slides img {
        height: 99px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 79px
    }
    .block-mostview ul li:first-child .thumb img {
        height: 204px
    }
    .highlight-top>.flexslider-new {
        height: 175px
    }
    .block-mostview ul li .thumb.pull-left img, .block-mostview ul li .thumb.pull-right img { height: 70px;}
    .block-mostview ul li:first-child .thumb img, .block-mostview ul li .thumb img {
        height: 200px
    }
    .bar { display: block; text-align: center; line-height: 22px; }

}

@media screen and (max-width:320px) {
    .highlight-main .art-main:nth-child(2) img,
    .highlight-main .art-main:nth-child(3) img,
    .highlight-main .art-main:nth-child(4) img,
    .highlight-main .art-main:nth-child(5) img {
        height: 82px
    }
    .highlight-main .art-main:first-child img {
        height: 163px
    }
    .highlight-1 .art-1.col-sm-2 img,
    .highlight-1 .art-1.col-sm-3 img {
        height: 82px
    }
    .flexslider-new .slides img {
        height: 84px
    }
    .highlight-1 .art-1.col-sm-4 img {
        height: 79px
    }
    .detail-box .modal-body {
        padding-left: 10px;
        padding-right: 10px
    }
    .block-mostview ul li:first-child .thumb img {
        height: 174px
    }
    .highlight-top>.flexslider-new {
        height: 155px
    }
    .highlight-ctn .art>a img {
        height: 84px
    }
    .highlight-ctn .art p {
        clear: both;
        padding-top: 3px
    }
}

@media screen and (width:1024px) {
    .header .logo {
        margin-left: -515px
    }
}

@media screen and (width:768px) {
    .header .logo {
        margin-left: -390px
    }
    .main-menu li a {
        font-size: 12px
    }
    .main-menu {
        margin-left: 120px
    }
    .header .frm-search .txt-search {
        width: 177px
    }
    .detail-box .modal-body {
        padding: 30px 100px
    }
    .modal-lg {
        width: 748px
    }
    .detail-box button.close {
        z-index: 9999;
        top: 60px;
        margin-right: -365px
    }
    .highlight-ctn .art>a {
        width: 40%
    }
    .block-mostview ul li:first-child .thumb img {
        height: 368px;
    }
}

@media screen and (width:1024px) {
    .block-mostview ul li:first-child .thumb img {
        height: 170px
    }
    .detail-box .modal-body {
        padding: 30px 150px
    }
    .modal-lg {
        width: 970px
    }
    .detail-box button.close {
        z-index: 9999;
        top: 60px;
        margin-right: -466px
    }
}